.main-container{
    height:500px;
    background-color: yellow;
}
.sec-container{
    height: 400px;
    background-color: orange;
    position: relative;
    top: 40px;
    left: 40px;
}

.block{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.A{
    background-color: green;
}

.B{
    background-color: blue;
    position: absolute;
    left: 100px;
}

.C{
    background-color: purple;
}