.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
}